{{>licenseInfo}}

module Api.Request.{{classname}} exposing ({{#operations}}{{#operation}}{{^-first}}, {{/-first}}{{operationId}}{{#allParams}}{{#isEnum}}, {{enumName}}(..){{/isEnum}}{{/allParams}}{{/operation}}{{/operations}})

{{>imports}}
import Dict exposing (Dict)
import Json.Decode as Decode
import Url.Builder
import Maybe.Extra as Maybe
import Api.Request exposing (Request, Method(..))


{{#operations}}
{{#operation}}
{{#allParams}}
{{#isEnum}}
type {{enumName}}
{{#allowableValues.enumVars}}    {{#-first}}= {{/-first}}{{^-first}}| {{/-first}}{{name}}
{{/allowableValues.enumVars}}

{{paramName}}ToString : {{enumName}} -> String
{{paramName}}ToString value =
    case value of
{{#allowableValues.enumVars}}        {{name}} ->
            {{{value}}}

{{/allowableValues.enumVars}}


{{/isEnum}}
{{/allParams}}
{{/operation}}
{{/operations}}


{{#operations}}
  {{#operation}}


{{#notes}}
{-| {{{notes}}}
-}
{{/notes}}
{{operationId}} :
{{#pathParams}}
    {{#isListContainer}}List {{/isListContainer}}{{#datatypeWithEnum}}{{datatypeWithEnum}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{dataType}}{{/datatypeWithEnum}} ->
{{/pathParams}}
{{#queryParams}}
    {{^required}}Maybe ({{/required}}{{#isListContainer}}List {{/isListContainer}}{{#datatypeWithEnum}}{{datatypeWithEnum}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{dataType}}{{/datatypeWithEnum}}{{^required}}){{/required}} ->
{{/queryParams}}
{{#headerParams}}
    -- TODO: Header params are not supported by the OpenAPI code generator. Fix it in api.mustache file.
    {{^required}}Maybe ({{/required}}{{#isListContainer}}List {{/isListContainer}}{{dataType}}{{^required}}){{/required}} ->
{{/headerParams}}
{{#bodyParam}}
    {{^required}}Maybe {{/required}}{{dataType}} ->
{{/bodyParam}}
    Request {{^responses}}(){{/responses}}{{#responses}}{{#-first}}{{^dataType}}(){{/dataType}}{{#isMapContainer}}(Dict String {{/isMapContainer}}{{#isListContainer}}(List {{/isListContainer}}{{dataType}}{{#isListContainer}}){{/isListContainer}}{{#isMapContainer}}){{/isMapContainer}}{{/-first}}{{/responses}}
{{operationId}}{{#pathParams}} {{paramName}}{{/pathParams}}{{#queryParams}} {{paramName}}{{/queryParams}}{{#headerParams}} {{paramName}}{{/headerParams}}{{#bodyParam}} body{{/bodyParam}} =
    Request
        {{httpMethod}}
        [ {{{path}}} ]
        (Maybe.values 
            [ {{#queryParams}}{{^-first}}, {{/-first}}{{paramName}} 
                {{#required}}|> Just{{/required}}
                {{#isInteger}}|> Maybe.map String.fromInt{{/isInteger}}
                {{^isInteger}}-- TODO: Query params other than integers are not supported by the OpenAPI code generator. Fix it in api.mustache file.{{/isInteger}}
                |> Maybe.map ( Url.Builder.string "{{baseName}}")
            {{/queryParams}}
            ])
        [ {- {{{headerParams}}} -} ]
        {{#bodyParam}}(body |> {{^required}}Maybe.map {{/required}}{{vendorExtensions.elmEncoder}}{{#required}} |> Just{{/required}}){{/bodyParam}}{{^bodyParam}}Nothing{{/bodyParam}}
        {{^responses}}Decode.succeed (){{/responses}}{{#responses}}{{#-first}}{{^dataType}}Decode.succeed (){{/dataType}}{{#dataType}}{{#isMapContainer}}(Decode.dict {{/isMapContainer}}{{#isListContainer}}(Decode.list {{/isListContainer}}{{#vendorExtensions}}{{elmDecoder}}{{/vendorExtensions}}{{#isListContainer}}){{/isListContainer}}{{#isMapContainer}}){{/isMapContainer}}{{/dataType}}{{/-first}}{{/responses}}
  {{/operation}}
{{/operations}}
